
<mat-card class="example-card">
  <h1>Login</h1>
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <p class="info-text mat-body-1" *ngIf="isInvalid">Invalid credentials</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()">sign in</button>
   
  </mat-card-actions>

  <mat-card-content>
    Doesn't have an account yet?
    <a routerLink="/createUser">sign up</a>
    
  </mat-card-content>
  <mat-card-content>
    You are administrator?
    <a routerLink="/loginAdmin">go here</a>
    
  </mat-card-content>
</mat-card>
