ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.mat-button {
  text-decoration: none;
  color: #d7b58c;
  font-family: "Courier New";
}

.spacer {
  flex: 1 1 auto;

}

/* .mat-icon-button, */
.mat-toolbar {
  background-color: #ffffff;
  height: 20%;
}

span {
  color: #232e4d;
<<<<<<< HEAD
  font-size: 350%;
  padding: right 200%;
  /* margin-right: 250%; */
=======
font-family: 'Merienda One', Helvetica, sans-serif;
/* "great vibes"; */
font-size: 350%;
padding: right 200%;
/* margin-right: 250%; */
>>>>>>> 22dc8d552c2d0fb2f783f0b9c137e1e10918c739
}
