<mat-toolbar><!--color="white"-->
  <span>
    our app
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/advertisements" *ngIf="authService.authenticated">home page</a>
      <a mat-button routerLinkActive="mat-accent" routerLink="/create" *ngIf="authService.authenticated">post an ad</a>
      <a mat-button routerLinkActive="mat-accent" routerLink="/users" *ngIf="authService.authenticated">more</a>
      <a mat-button routerLinkActive="mat-accent" routerLink="/d3" *ngIf="authService.authenticated">ads graph</a>
      <a mat-button routerLinkActive="mat-accent" routerLink="/" *ngIf="authService.authenticated"
        (click)="logout()">sign-out</a>
    </li>
  </ul>
</mat-toolbar>
