:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
  max-width: 50px;
  color: #232e4d;
}
 
mat-paginator {
  min-width: 111%;
  margin-bottom: auto; 
  /* margin: auto; */
  background-color: #d7b58c;
} 
p{
  color: #232e4d;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}
/* 
.post-image img {
  width: 100%;
 
  box-shadow: 1px 1px 5px rgb(182, 55, 55); 
} */
/* 
div{
  margin: auto;
} */

p{
 
  color:#d7b58c;
}

/* mat-form-field {
  padding-left: 40px;
  padding-bottom: 0px;
} */

app-username{
  margin-top: auto;
}


input{
  height: 20px;
  margin:auto;
  color: #232e4d;
}

mat-list {

  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  background-color: #232e4d;
  color: #d7b58c;
 
}
a{
  color: #eae5df;
}

div{
  
  max-width: 150px;
  margin: 2em auto;
  text-align: center;
 
}

app-username{
  color: #d7b58c;
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size: 50%;

}


::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #c9a57a !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #c9a57a !important;;
}
::ng-deep.mat-form-field-empty.mat-form-field-label {
  color: #c9a57a;
}

.table {
  margin: 2em auto;
  
}

h3{
  margin: auto;
  color: #232e4d;
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size: 100%;
}
  
h1{
  color: #232e4d;
  text-align: center;
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size: 400%;
  }

.formCreate {
  position: absolute;
  margin-top: 12%;
}


mat-accordion ,mat-expansion-panel{
  margin:  auto;
  min-width: 111%;
  background-color: #232e4d;
  color: #d7b58c;
}

