<mat-spinner *ngIf="isLoading"></mat-spinner>
<table cellspacing="0">
  <tr>
    <label>search by 3 param</label>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchTitle" placeholder="title">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchOpeningHours" placeholder="openingHours">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchClosingHours" placeholder="closingHours">
      </mat-form-field>
    </td>
    <td>
      <button mat-button color="warn"
        (click)="onSearchBy3parameters(searchTitle,searchOpeningHours,searchClosingHours)">Search</button>
      <button mat-button color="warn" (click)="OnClean()">Clean</button>
    </td>
  </tr>
</table>

<div class="searchbyCity">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="searchCity" placeholder="search by City">
  </mat-form-field>
</div>

<!--groupby-->
<mat-list role="list" *ngIf="locations.length > 0 && !isLoading">
  <h5>Group by of City:</h5>
  <mat-list-item role="listitem" *ngFor="let location of locations">{{location.city}} - {{location.count}}
  </mat-list-item>
</mat-list>

<mat-accordion multi="true" *ngIf="advertisements.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let advertisement of advertisements">
    <mat-expansion-panel-header>
      {{ advertisement.title }}
    </mat-expansion-panel-header>
    <div class="note-image">
      <img [src]="advertisement.imagePath" [alt]="advertisement.title">
    </div>
    <p>{{ advertisement.content }}</p>
    <p>{{ advertisement.openingHours }}</p>
    <p>{{ advertisement.closingHours }}</p>
    <p>{{ advertisement.location }}</p>
    <p>admindBy: {{ advertisement.admindBy.name }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', advertisement.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(advertisement.id,advertisement.admindBy._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>



<mat-paginator [length]="totalNotes" [pageSize]="notesPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="advertisements.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="advertisements.length <= 0 && !isLoading && isSearch">No notes added yet!</p>
<p class="info-text mat-body-1" *ngIf="advertisements.length <= 0 && !isSearch">No result!</p>
