<h1>Login</h1>
<mat-card class="example-card">
  <mat-card-content>
    Hi!!
    Log in to the system.
    If it's your first time register first.
  </mat-card-content>
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <p class="info-text mat-body-1" *ngIf="isInvalid">Invalid credentials</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <a mat-raised-button color="primary" routerLink="/createAdmin">Register</a>
  </mat-card-actions>
</mat-card>
