div{
    height:80%; 
    width:80%;
    margin: auto;
    
/* style="height:500px" */

/* border: right style 15% #232e4d;
    border: bottom style 15% #232e4d; */

    /* border-right-style:15px #232e4d;
    border-bottom-style:15px #232e4d; */
}