
<h1 *ngIf="isAdmin">users information</h1>

<table style=" color: #232e4d;"  class="table" cellspacing="0" *ngIf="isAdmin">
  <h3>search by 3 parameters</h3>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchName" placeholder="name">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchLatitude" placeholder="latitude">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchLongitude" placeholder="longitude">
      </mat-form-field>
    </td>
    <td>
      <button mat-button 
        (click)="onSearchBy3parameters(searchName,searchLatitude,searchLongitude)">Search</button>
      <button mat-button  (click)="OnClean()">Clean</button>
    </td>
  </tr>
</table>
<ul *ngFor="let user of users">
  <li *ngIf="isAdmin">{{user.name}} {{user.password}} {{user.latitude}} {{user.longitude}} <a mat-button color="#232e4d"
      [routerLink]="['/editUser', user.id]">EDIT</a><button mat-button
      color="#232e4d" (click)="onDelete(user.id)">DELETE</button>
  </li>
</ul>
<p class="info-text mat-body-1" *ngIf="users.length <= 0 && !isSearch">No result!</p>

<!-- <ul *ngFor="let information of Userinformation">
  <li *ngIf="!isAdmin">name:{{information.name}} password:{{information.password}} </li>
</ul> -->

<h1 *ngIf="!isAdmin">location</h1>
<div class="map" *ngFor="let information of Userinformation">
  <app-map *ngIf="!isAdmin" [latitude]="information.latitude" [longitude]="information.longitude"></app-map>
  
</div>
<br>
  <br>
  <br>
  <br>

