
h1{

text-align: center;
color: #232e4d;
font-family: 'Merienda One', Helvetica, sans-serif;
font-size: 250%;
}
/* "great vibes"; */
/* .app-map{
    border: right style 15px #232e4d;
    border: bottom style 15px #232e4d;
}  */
/* div{
    border: right style 50px #232e4d;
    border: bottom style 50px #232e4d;
} */
