<ul *ngFor="let user of users">
  <li *ngIf="!isSearch">{{user.name}} {{user.password}} {{user.latitude}} {{user.longitude}}<button mat-button
      color="warn" (click)="onDelete(user.id)">DELETE</button> <a mat-button color="primary"
      [routerLink]="['/editUser', user.id]">EDIT</a>
  </li>
</ul>

<ul *ngFor="let information of Userinformation">
  <li *ngIf="isSearch">name:{{information.name}} password:{{information.password}} </li>
</ul>
<div class="map" *ngFor="let information of Userinformation">
  <app-map *ngIf="isSearch" [latitude]="information.latitude" [longitude]="information.longitude"></app-map>
</div>
